@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Aster-602,Blossom<br />
    Nadiad, Gujarat-387001<br />
    <abbr title="Phone">P:</abbr>
    +91 8141360202
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jaypatelvicky5@gmail.com">jaypatelvicky5@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>