@{
    ViewBag.Title = "Solgery System";
}

<div class="jumbotron">
    <h1>Solgery System</h1>
    <p class="lead">Share bills. Make sure everyone gets paid back. Totally free for web.coming soon for iPhone and Android.</p>
    <p>@Html.ActionLink("Let's Go >>", "index1", "Home", new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We’re fairness experts</h2>
        <p>
            
            How should we split the cost of rent? At what point is a girlfriend a roommate? Participate in cool fairness research and get advice on all sorts of common sharing problems.
        </p>
        <p><a class="btn btn-default" href="https://www.splitwise.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We do the math for you</h2>
        <p>Splitwise keeps a running total over time, so you can pay each other back in one big payment, instead of a bunch of small ones.</p>
        <p><a class="btn btn-default" href="https://www.splitwise.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>